{{#partial "content"}}
    <div class="row">
        <div class="card-group">
            {{#if endangeredAnimals1}}
                {{#each endangeredAnimals1 }}
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/images/new.gif" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Spotted by: {{ranger_name}}</h5>
                                <p class="card-text">Spotted at: {{location}}</p>
                                <p class="card-text">Name: {{animal_name}} </p>
                                <p class="card-text">Age: {{animal_age}} </p>
                                <p class="card-text">Health: {{animal_health}} </p>
                                <p class="card-text"><small class="text-muted">Details of the sighting</small></p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
{{/partial}}
{{>layout.hbs}}